/*
COLORS
primary : #83F3ED
black : #011627
white : #fafaff
*/

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h4,
h5,
h6 {
  font-weight: 700;
}

/*Buttons*/

.btn-outline-secondary {
  background-color: transparent !important;
  border-color: #011627 !important;
  color: #011627 !important;
  border-radius: 0 !important;
  position: relative;
}

.btn-outline-secondary:before {
  content: "";
  position: absolute;
  background-color: #83f3ed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}

.btn-outline-secondary:hover:before {
  width: 100%;
}

.btn-secondary {
  background: #011627 !important;
  border-radius: 0;
  border-color: #011627 !important;
}

.btn-secondary:hover {
  color: #83f3ed !important;
}

.btn-primary {
  background: #83f3ed !important;
  border-radius: 0;
  border-color: #83f3ed !important;
  color: #011627 !important;
}

.btn-primary:hover {
  background: #011627 !important;
  color: #83f3ed !important;
}

/*Navbar*/
.navbar {
  background: #011627;
  border-bottom: 1px solid #011627;
}

.white {
  color: #fafaff;
}

.nav-link,
.navbar-brand {
  color: #fafaff;
}

#contact {
  color: #fafaff !important;
  border-color: #fafaff !important;
}

#contact:hover {
  color: #011627 !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #777;
}

.navbar-brand {
  font-size: 1.8rem;
}

/*Call to action*/
.call-to-action {
  background: #011627;
  color: #fafaff !important;
}

.heading-line {
  height: 3px;
  width: 10%;
  background: #83f3ed;
}

/*Services*/

.services i {
  font-size: 2rem;
  color: #83f3ed !important;
}

/*Portfolio*/
.dark {
  color: #83f3ed !important;
  background: #011627;
  height: 300px;
}

.bg-blue {
  background-color: #e6f2ff !important;
}
.dark i {
  font-size: 1.3rem;
  color: #83f3ed !important;
}

.portfolio .img-fluid {
  height: 300px;
  object-fit: cover;
}

.portfolio .col-md-3 {
  position: relative;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #83f3ed;
  opacity: 0.8;
}

/*Footer*/
.footer {
  color: #fafaff;
  background: #011627;
}

.footer a {
  color: #fafaff;
}

/*Responsive*/
@media (max-width: 900px) {
  .call-to-action .container {
    width: 100%;
  }
  .navbar .nav-item {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
  }
}

/*Video*/
#hunos-video {
  width: 100%;
  height: auto;
}
